body {
  background-image: url("./kindajean.png");
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#top-banner {
  background-color: white;
}

#top-banner .item {
  font-size: 1.5rem;
}

#page-header {
  font-size: 3rem;
}

#section-header {
  color: white;
  background-color: rgb(8, 60, 142);
}
