body {
  background-image: url("./kindajean.png");
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#top-banner {
  background-color: white;
}

#top-banner .item {
  font-size: 1.5rem;
}

#page-header {
  font-size: 3rem;
}

#section-header {
  color: white;
  background-color: rgb(8, 60, 142);
}

a.admin-link{
  color: red !important;
}

div.highlight-container div{
  margin: 0 auto;
}

form {
  display: inline-block;
}

p, li {
  font-size: 1.5rem;
}

/*Sticky Footer*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer {
  text-align: center;
}
